@media only screen and (max-width: 767px) {
    label {
        text-align: center!important;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Yantramanav'!important;
}

legend {
    font-weight: bold;
}

input {
    text-align: center!important;
    transition: 0.25s!important;
}

.login {
    border-radius: 10px;
    background-color: white;
    width: 300px;
    margin: 2cm auto;
}

.form-group {
    padding: 15px;
}

.text-center {
    padding: 15px;
}